$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;


@mixin xs {
  @media screen and (max-width: #{$xs}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$xs}) and (max-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$sm}) and (max-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$md}) and (max-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$lg}) and (max-width: #{$xl}) {
    @content;
  }
}

// media lt queries
@mixin lt($br) {
  @media screen and (max-width: #{$br}) {
    @content;
  }
}

// media gt queries
@mixin gt($br) {
  @media screen and (min-width: #{$br}) {
    @content;
  }
}
